<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>404 Not Found Story Share</title>
  <style>
    body {
      margin: 0;
    }
    .not-found-link {
      position: absolute;
      left: 50%; top: 50%;
      margin: -270px 0 0 -139px;
      width: 278px;
      height: 459px;
      background: url('404.png') no-repeat;
    }
  </style>
</head>
<body>
  <a class="not-found-link" href="https://vk.com/"></a>
</body>
</html>
